body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  background-image: linear-gradient(to right, rgb(20, 147, 220), rgb(17, 54, 71));
}
.box {
  background-color: rgb(0, 0, 0, 0.5);
  border: 2px solid gray;
  padding: 30px;
  border-radius: 5px;
}

.box-header {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  
}



.box-footer {
  display: flex;
  align-items: center;
}


form  [type="submit"] {
  color: rgb(13, 153, 151);
  cursor: pointer;

}

div input:checked + p {
  text-decoration: line-through;
}